@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #00AAFF, #00ff6c);
}

button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

button:hover,
button:focus {
  background-color: rgba(255, 255, 255, .9);
}